/* =============
    Typography
============= */
body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: rem-calc(15);
}

body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: rem-calc(15);
}

#section2 {
    font-family: 'Gotu', sans-serif;
    ;
}