#section1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: rem-calc(40);
    margin-left: 40px;

}

#links {
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: rem-calc(30);
    align-self: right;
    margin-top: 27px;
    text-align: right;
    margin-right: 40px;
    color: black;

}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #E468C2;
    background-color: transparent;
    text-decoration: none;
}