#pinksectionn {
    background-color: #EFECE2;
    grid-template-columns: repeat(8, [col-start] 1fr);
    display: grid;
    font-family: 'Gotu', sans-serif;
    font-size: rem-calc(20);
}

#pinkbackground {
    margin-right: 50px;


}

.whytext {
    font-family: 'Gotu', sans-serif;
    font-size: rem-calc(20);
    grid-column: 3 / span 4;
    text-align: justify;




}