#pinksectionn {
    background-color: #EFECE2;
    grid-template-columns: repeat(8, [col-start] 1fr);
    display: grid;
}

#pinkbackground {
    margin-right: 50px;
}

#why {
    grid-column: span 3;
    font-family: 'Gotu', sans-serif;
    font-size: rem-calc(30);

}