#pinksectionn {
    background-color: #EFECE2;
    grid-template-columns: repeat(8, [col-start] 1fr);
    display: grid;
    font-family: 'Gotu', sans-serif;
    font-size: rem-calc(20);
}

#pinkbackground {

    margin-right: 58px;
    max-width: 801px;
    margin-top: 40px;


}

.whywedoit {
    font-family: 'Gotu', sans-serif;
    font-size: 2.25vh;
    grid-column: 2 / span 5;
    grid-row: 1/ span 1;
    text-align: left;
    margin-top: 110px;
    line-height: 150%;

}

#trash {
    align-self: left;
    position: absolute;
    left: 0px;

}

/* .imagecontainer {
    width: 100%;

}

.extraimagecontainer {
    display: grid;
    grid-template-columns: repeat(8, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
}

.individualimages:first-of-type {
    grid-column: 1 / span 5;
    grid-row: 1/span 1;
}

.individualimages:last-of-type {
    grid-column: 1 / span 5;
    grid-row: 1/span 1;
}

#effects {
    margin-top: 25px;
    margin-left: 58px;
} */