.gallery {
    columns: 3;
    gap: 20px;
    overflow: auto;
    background-color: #ffffff;
}

.clickable {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.centered {
    text-align: center;
    font-size: rem-calc(30);
    overflow: auto;
}