#section2 {
    background-color: #EFECE2;
    font-size: rem-calc(30);
    font-family: 'Gotu', sans-serif;
    max-height: 920px;
}

#unique {
    margin-left: 58px;
    margin-top: 62px;

}

.whobody {
    font-size: rem-calc(20);
    grid-column: 1 / span 3;
    text-align: justify;
    margin-right: 78px;

}

#dress2 {
    padding: 26px 53px 26px 53px;
    z-index: 1;
    /* height: 416px;
    width: 529px; */
    background-color: #66BCEC;
    scale: 85%;
    z-index: 2;
    display: grid;
}

#dressimage {
    padding: 24px 70px 24px 70px;
    background-color: #E468C2;
    z-index: 1;
    display: grid;

}

.overlapcontainer {
    width: 100%;

}

.extracontainer {
    display: grid;
    grid-template-columns: repeat(8, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
}

.overlap:first-of-type {
    grid-column: 6 / span 2;
    grid-row: 1/span 1;
}

.overlap:last-of-type {
    grid-column: 4 / span 2;
    grid-row: 1/span 1;
}