#svg{
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-areas: ". svg .";

    div{

        grid-area: svg;

    }
}

#svg2{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". svg2 .";

    div{

        grid-area: svg2;

    }
}

svg{
    width: 100%;
}